body {
    padding: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    border: 0px;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geologica-font {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0,
      "SHRP" 0;
  }

.logo {
    /* background-color: red; */
    background-image: url('../assets/images/logo.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroImg {
    width: 65vw;
    height: 500px;
    background-color: blue;
    border-radius: 25px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
}

.aboutImg {
    width: 400px;
    height: 300px;
    background-color: blue;
}

.contact-us {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us > input {
    width: 100%;
}

.name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name > .form-input {
    width: 47%;
}

.contact-us input {
    height: 40px;
}

form > button {
    margin-top: 20px;
}